.central-section {
  text-align: center;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 767.98px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/img-hero-mobile.jpg);
    padding-top: 118px;
    padding-bottom: 118px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/img-hero-mobile@2x.jpg);
    }
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/img-hero-tablet.jpg);
    padding-top: 118px;
    padding-bottom: 118px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/img-hero-tablet@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/img-hero-desktop.jpg);
    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/img-hero-desktop@2x.jpg);
    }
  }
}

.central-section__inscription {
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @media screen and (max-width: 1199px) {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
  }
}

.central-section__modal-btn {
  min-width: 140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color var(--transition-data);

  &:hover,
  &:focus {
    background-color: #188ce8;
    transition: background-color var(--transition-data);
  }
}
.section__title {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}
