
.particul-section__icon-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color:#F5F4FA ;
    border-radius: 4px;
}

.particul-section-list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.particul-section-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

@media screen and (max-width:767px) {
    .particul-section-list__title {
        text-align: center;
    }
    .particul-section-list__item {
        width: 100%;
        &:not(:last-child) {
        margin-bottom: 30px;
            }
    }
}
@media screen and (min-width: 768px) {

  .particul-section-list {
        display: flex;
        flex-wrap: wrap;
    }
     @media screen and (max-width: 1199px) {
            .particul-section-list__item {
                width: calc((100% - 30px) / 2);
                &:not(:nth-child(2n)) {
                margin-right: 30px;
                 }
                &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 30px;
                 }
             }
         }
}

@media screen and (min-width: 1200px) {
    .particul-section-list__item {
            width: calc((100% - 90px) / 4);
    
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
}