.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /*transition: opacity 500ms linear; visibility 500ms linear;*/
    transition: opacity var(--transition-data), visibility var(--transition-data);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &.is-hidden .modal {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.modal {
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--secondary-text-color);
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: translate var(--transition-data), opacity var(--transition-data);
}

.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: var(--accent-color);
        transition: color var(--transition-data);
    }
}