.logo {
    text-decoration: none;
    color: #2196f2;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    font-weight: 700;
}

.logo-white-theme {
    color: #212121;
}

.footer__logo-dark-theme {
    color: #fff;
    margin-bottom: 20px;
}

