.contact-form {
    display: flex;
    flex-direction: column;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    border-color: rgba(33, 33, 33, 0.2);
    transition: border-color var(--transition-data);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
        transition: var(--transition-data);
    }
}

.contact-form-icon {
    display: block;
    position: absolute;
    top: 40%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--primary-text-color);
    transition: var(--transition-data);
    width: 18px;
    height: 18px;

    .contact-form-input:focus+& {
        outline: none;
        border-color: var(--accent-color);
        transition: var(--transition-data);
        fill: var(--accent-color);
    }
}


.contact-form-icon-checkbox {
    fill: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 7px;
    transition: border var(--transition-data), fill var(--transition-data);
}

.contact-form-field-key {
    font-family: inherit;
    font-weight: 400px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--accent-text-color);
    display: block;
    margin-bottom: 4px;
}

.contact-form-field-container {
    position: relative;
    display: block;
}

.contact-form-text {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.01em;
    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
        transition: var(--transition-data);
    }
}

.contact-form-chekbox-label {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 30px;

    &::before {
        display: block;
        align-items: center;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        border: 1px solid var(--accent-text-color);
        cursor: pointer;
        content: "";
        margin-right: 7px;
    }

    .contact-form-chekbox:checked+&::before {
        background-color: var(--accent-color);
        border: none;
        background-image: url(../img/icon\ check.svg);
    }

    .contact-form-chekbox:focus+&::before {
        border: 2px solid var(--primary-text-color);
    }
}

.contact-form-policy-link {
    color: var(--accent-color);
}

.contact-form-btn {
    min-width: 200px;
    align-self: center;
    padding: 10px 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-data), box-shadow var(--transition-data);

    &:hover,
    &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color var(--transition-data);
    }
}