.social-list {
    display: flex;
    justify-content: center;
}
.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-data);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
}



.social-list__item {
    width: 44px;
    height: 44px;

        &:not(:last-child) {
    margin-right: 10px;
}
}

.social-list__icon {
    fill: #afb1b8;
    transition: fill var(--transition-data);
}

.social-links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-links-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-links-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-data);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        outline: none;
    }
}

.social-links-list__icon {
    fill: rgba(255, 255, 255, 0.1);
    transition: fill var(--transition-data);
}

.social-links-list__icon {

    .social-links-list__link:hover &,
    .social-links-list__link:focus & {
        fill: #fff;
    }
}