body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--secondary-text-color);
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
}